body{
    background-color: black;
}

.zone{
    background-color: darkolivegreen;

}
.zone1{
    background-color: white;
}
p{
    color: black;
}
html,body { margin:0; height:100%;}

.parallax {
    /* L’image du Parallax */
    background-image: url("../img/ingenieur.jpg");

    /* L’hauteur du Parallax */
    height: 100%;

    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.margin{
    margin-bottom:50px;
    margin-top:50px;
}


.navbar {
    background-color: darkolivegreen;
}
.navbar .navbar-brand {
    color: #0ec3f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #f0f3f6;
}
.navbar .navbar-text {
    color: #0ec3f1;
}
.navbar .navbar-text a {
    color: #f0f3f6;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #f0f3f6;
}
.navbar .navbar-nav .nav-link {
    color: #0ec3f1;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #f0f3f6;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #f0f3f6;
    background-color: #d52020;
}
.navbar .navbar-toggle {
    border-color: #d52020;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #d52020;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #0ec3f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #0ec3f1;
}
.navbar .navbar-link {
    color: #0ec3f1;
}
.navbar .navbar-link:hover {
    color: #f0f3f6;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #0ec3f1;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f0f3f6;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f0f3f6;
        background-color: #d52020;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #0ec3f1;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f0f3f6;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f0f3f6;
        background-color: #d52020;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #0ec3f1;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f0f3f6;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f0f3f6;
        background-color: #d52020;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #0ec3f1;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f0f3f6;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f0f3f6;
        background-color: #d52020;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0ec3f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f0f3f6;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f0f3f6;
    background-color: #d52020;
}