#bienvenue {
    position: relative;
    margin-top: 130px;
    min-height: 500px;

}

.debug{
    background-color: orange;
    color: black;
}
#prochainesdates {
    background: #f2f2f2;
    padding-bottom: 40px;
}
#middle {
    margin-top: 0;
}
#middle h2 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}
a {
    color: red;
    -webkit-transition: color 300ms, background-color 300ms;
    -moz-transition: color 300ms, background-color 300ms;
    -o-transition:  color 300ms, background-color 300ms;
    transition:  color 300ms, background-color 300ms;
}
.btn-primary {
    padding: 8px 20px;
    background: white;
    color: #fff;
    border-radius: 4px;
    border:none;
    margin-top: 10px;
}
.btn-primary:hover,
.btn-primary:focus{
    background: white;
    outline: none;
    box-shadow: none;
}
ul.social-share li a:hover {
    background: white;
    color: #fff;
}
.navbar-brand {
    padding: 0;
    margin:0;
    color:white;
}
.navbar-header a.navbar-brand {
    color: white;;
}
.navbar-fixed-top .navbar-nav > li > a:hover{
    background-color: white;
    color: #333;
}
.navbar-fixed-top .navbar-nav > .active > a,
.navbar-fixed-top .navbar-nav > .active > a:hover,
.navbar-fixed-top .navbar-nav > .active > a:focus,
.navbar-fixed-top .navbar-nav > .open > a,
.navbar-fixed-top .navbar-nav > .open > a:hover,
.navbar-fixed-top .navbar-nav > .open > a:focus {
    background-color: white;
    color: #333;
}
.navbar-fixed-top .navbar-nav .dropdown-menu > li:hover > a,
.navbar-fixed-top .navbar-nav .dropdown-menu > li:focus > a,
.navbar-fixed-top .navbar-nav .dropdown-menu > li.active > a {
    background-color: white;
    color: #fff;
}
#carousel-slider .carousel-indicators li {
    border: 1px solid white;
}
#carousel-slider a i:hover {
    background:white;
    color:#fff;
    border: 1px solid white;
}
.feature-wrap i{
    font-size: 48px;
    height: 110px;
    width: 110px;
    margin: 3px;
    border-radius: 100%;
    line-height: 110px;
    text-align:center;
    background: #ffffff;
    color: white;
    border: 3px solid #ffffff;
    box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    float: left;
    margin-right: 25px;
}
.feature-wrap i:hover {
    background: white;
    color: #fff;
    box-shadow: inset 0 0 0 5px white;
    -webkit-box-shadow: inset 0 0 0 5px white;
    border: 3px solid white;
}
.progress .color3,
.progress .color3 .bar-width{
    background: white;
}
.progress .color3 span:before{
    border-color: #cc2727 transparent transparent transparent;
}
.panel-heading.active a.accordion-toggle i{
    background: white;
    color: #fff;
}
.panel-heading.active a.accordion-toggle.collapsed i{
    background: white;
    color: #fff;
}
.center span {
    color:white;
}
.request h4 a{
    background:white;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    border-radius: 3px;
    padding: 5px 15px;
}
.portfolio-filter > li a:hover,
.portfolio-filter > li a.active{
    color:#fff;
    background: white;
    border: 1px solid white;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.blog_category li a:hover{
    background:white;
    color: #fff;
}
.badge:before {
    border-color: transparent transparent transparent white;
    border-style: solid;
    border-width: 10px;
    bottom: -8px;
    content: "";
    height: 0;
    left: 5px;
    position: absolute;
    z-index: -99999;
}
.badge {
    background-color: white;
    border-radius: 5px;
    color: #fff;
    padding: 8px;
    position: relative;
    left: 60px;
    top: -18px;
    font-weight: normal;
}
#publish_date {
    background: white;
    border-bottom: 5px solid #4e4e4e;
    color: #fff;
    padding: 5px 0;
    text-align: center;
}
ul.pagination > li.active > a,
ul.pagination > li:hover > a {
    background-color: #cc2727 !important;
    border-color: #cc2727 !important;
    color: #fff;
}
.tag-cloud li a:hover{
    background:white;
    color: #fff;
}
#bottom {
    background: #f5f5f5;
    border-bottom: 5px solid white;
    font-size: 14px;
}
#bottom ul li a:hover {
    color: white;
}
#footer a:hover {
    color: white;
}

label.requis:before {
    content: "* ";
}
p,ul,h2 {
    font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
    color: #2a6496;
}

.test{
    background-image: url("../media/eau.jpg");
    background-repeat: no-repeat;

}






