html{ font-size: 10px;
}
body
{

    margin: auto;
    background: url(img/5ca2b099-6164-40c5-bb79-4e648392f80a.jpg)no-repeat center;
    margin: auto;
    background-color: black;

}
img{
    width: 300px;
    border-radius:30px ;
}

img:hover{

    -moz-box-shadow:0 0 10px  white;
    -webkit-box-shadow: 0 0 10px white;

}
a{
    color:lightskyblue ;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #224061;
}
a:visited{
    color:blue ;
}
p
{
    font-size: 1.4em;
    text-align:justify;
    color: white;

}

h1
{
   font-size: 3.6em;
 }
h2
{
    font-size: 2.4em;
}
h1,h2,h3,h4
{
    text-align:center;
    color: white ;
}
table,th,td{

    font-size: 1.5em;
    color: white ;
    border: 1px solid red;

}
section{

    color: white;


}
ul{
    font-size: 1.5em;
    color: white ;
}


