html,body{
    height: 100%;
    background-color: white;
    font-family: "Comic Sans MS";
    font-style: italic;
}
.bg{
    background-image: url("../img/ElephantCI.jpg");
    height: 100%;
}

.bg1{
    background-image: url("../img/sanpedro.jpg");
    background-repeat: no-repeat;
    min-height: 500px;
   background-size: cover;
   margin: 0;
}
header {
    position: relative;
    background-color: black;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.parallax {
    /* L’image du Parallax */
    background-image: url("../img/babi.jpg");

    /* L’hauteur du Parallax */
    min-height: 800px;

    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgOpaque{
    background-color: rgba(180,255,255,.75);
}
img:hover{

    -moz-box-shadow:0 0 10px  rebeccapurple;
    -webkit-box-shadow: 0 0 10px rebeccapurple;

}
a{
    color:lightskyblue ;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #224061;
}
a:visited{
    color:blue ;
}
.black{
    color: black;
}
h1{
    color: gray;
}
.bac{
    background-image: url("../img/flag-1040571_1280.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30%;
}
.parallax3 {
    /* L’image du Parallax */
    background-image: url("../img/RESTO_assinie.jpg");

    /* L’hauteur du Parallax */
    min-height: 500px;

    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.noir{
    background-color: cadetblue;
    color: white;
}

.descendreSavourer{
    margin-top: 55px;
}

@media (max-width: 1200px) {
    .descendreSavourer{
        margin-top: 70px;
    }
}
.gris{
    color: gray;
}