html,body{
    height: 100%;
    background-color: lightskyblue;
    color: white;
}
.bg{
    background-image: url("../background/bleu.jpg");
    height: 100%;

}
.black{
    color: black;
}
.noprint{

}
@media print {
    .noprint
    {
        display: none !important;
    }

}
