.grosseboite{
    overflow: hidden;
    transition: transform .2s;
}
body{
    background-image: url("../images/DarthVader.jpg");
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    color: white;

}
